# Введение в Pyhon для ML

## Операции с числами

In [ ]:
2 + 3 #Самое обычное сложение

In [ ]:
2 * 3 #Самое обычное умножение

In [ ]:
2**3 #Возведение в степень

In [1]:
2 + 2 * 2 #Операции выполяются по всем законам математики

6

In [5]:
(2 + 2) * 2 # И так же можем расставлять скобки

8

In [2]:
5/2 #Самое обычное деление

2.5

In [3]:
5//2 #Целочисленное деление

2

In [4]:
5%2 #взятие остатка от деления

1

Взятие остатка от деления удобно использовать для вычисления последней цифры числа.

In [ ]:
-15 #Взятие числа с противоположным знаком

Все те же операции работают для вещественных чисел (чисел с плавающей точкой). Однако в работе с вещественными числами может происходить потеря точности. Например:

In [6]:
1/3

0.3333333333333333

In [8]:
0.3 + 0.3 + 0.3 # = 0.9

0.8999999999999999

Возведение в дробную степень:

In [9]:
4 ** 0.5

2.0

Часто удобно записывать числа с плавающей точкой в виде:

In [10]:
1e-2 # 1 умножается на 10 в степени (-2)

0.01

In [11]:
5.5e3 # 5.5 умножается на 10 в степени 3

5500.0

## Типы данных

Стандартные типы данных: 
- int (целочисленный)
- float (с плавающей точкой)
- bool (логические)
- str (строковый) 

Есть функции преобразования объектов в типа float, int, str:

In [15]:
float(5)

5.0

In [18]:
int(2.7) #Просто отбрасывает дробную часть, поэтому округление в меньшую сторону!

2

In [48]:
int('5')
# Неочевидно, в чем разница, но мы преобразовали строку в число, 
# с которым теперь можем производить все операции, определенные для целых чисел

5

In [50]:
str(5) # А тперь обратно

'5'

In [52]:
float('567')

567.0

Чтобы узнать тип объекта, можно использовать функцию type()

In [53]:
type(2)

int

In [54]:
type(2.5)

float

In [55]:
type("blablabla")

str

## Переменные

Для более удобной работы с объектами существуют переменные: по сути пары имя-значение. 
Перменные нужны для "запоминания" нужных для дальнейшей работы объектов.
Чтобы задать имя переменной используется оператор присваивания

In [56]:
a = 2
b = 3.5
string = "Python for ML"

In [57]:
c = a + b/2 #С переменными работают все перечисленные выше операции
c

3.75

In [58]:
#Можем узнать тип переменной
type(a)

int

In [59]:
type(b)

float

In [60]:
type(c)

float

In [61]:
type(string)

str

Часто необходимо получать данные непосредственно от пользователя, т.е. считывать с клавиатуры. Для этого используем input()

In [62]:
input()

''

In [1]:
input("Введите данные ")

Введите данные 3

'3'

In [2]:
a = input("Введите первое число ") #введем 4
b = input('Введите второе число ') #введем 5
a + b

Введите первое число 4
Введите второе число 5

'45'

Почему получаем 45, хотя 4 + 5 = 9? 
Дело в том, что мы считали строки

In [3]:
type(a)

str

Поэтому интерпритатор просто прибавил одну строку к другой: '4' + '5' = '45'

Чтобы получить корректную операцию сложения двух чисел, необходимо перевести переменные в числовой формат

In [4]:
a = float(a)
b = float(b)
a + b

9.0

Ура!

Кроме ввода, конечно же, необходим вывод данных. Для этого существует функция print(). В нее можно подавать переменную, несколько переменных, логическое или математическое выражение.

In [5]:
print(a)

4.0

In [6]:
print(a - b)

-1.0

In [7]:
print(int(a/b)) #Что получим?

0

Кроме того, если посмотреть внимательно, можно заметить, интерпритатор выводит результат выполнения последней команды без использования print() (но только ПОСЛЕДНЕЙ). 

Если мы хотим явно вывести несколько значений, используем print()

In [1]:
name = input('Enter your name: ')
print("Hello, " + name + '!')

Enter your name: Karina
Hello, Karina!

In [3]:
a = input('Enter the first num "a" ')
b = input('Enter the second num "b" ')

Enter the first num "a" 2
Enter the second num "b" 5
a + b = 7

In [8]:
print('a + b =',  int(a) + int(b))
print('a * b =', int(a) + int(b))
#Зачем каждый раз заново делать приведение типов? Да не за чем!
a = int(a)
b = int(b)
print('a - b =', a - b)
print('a in power of b =', a**b)

a + b = 7
a * b = 7
a - b = -3
a in power of b = 32

## Логические значения

В Pyton существуют 2 логических значения:   
   * False (0)     
   * True (1)   
   
И три основных операции с ними:    
   * x or y (истинно, если истинно хотя бы одно)   
   * x and y (истинно, если истинны оба)   
   * not x (инверсирует значение: ложь на истину, истину на ложь)   
   
Например: если x = 1, y = 0, то 

    (x or y) = 1   
    (x and y) = 0   
    (not x) = 0   
    (not y) = 1

## Операции сравнения

Существует несколько операций сравнения:  

    > (больше)   
    >= (больше или равно)  
    < (меньше)  
    <= (меньше или равно)   
    == (равенство, не путать с оператором присваивания!)   
    != (не равно)   
Например

In [1]:
1 < 5

True

In [2]:
25 >= 30

False

In [3]:
15 == 11 + 4

True

In [4]:
21*(12-13) <= (-3)**3

False

#### Задание: 

1. написать программу, которая выводит, положительное ли число (True, если положительное)
2. написать программу, проверяющую, делится ли число на 5 (True, если делится)

In [11]:
a = int(input())
print( a%5 == 0 )

98
False

Рассмотрим, в каком порядке выполняются логические операции.

In [12]:
x1, x2, x3 = False, True, False
not x1 or x2 and x3

True

Операция not имеет наиболее высокий приоритет, поэтому она вычисляется первой. Тогда наше выражение эквивалентно выражению:

    True or x2 not x3
Далее по приоритету стоит операция and. То есть 

    True or [True and False]
Значение в скобках равно False. В итоге имеем: 

    True or False
    True
    
        
Для контроля порядка операций можно использовать скобки:

In [13]:
((not x1) or x2) and x3

False

## Работа со строками

## Циклы и условия
### if, else, elif

Во многих задачах необходимо выполнять различные действия в зависимости от каких-то условий.    
Например, мы хотим указать, скольки разрядным является число, заданное пользователем (в случае одного разряда выводим "однозначное", двух - "двузначное" и т.д.). Осуществляется это с помощью условий

    if, elif, else
Для простоты будем считать, что число положительное и лежит в диапазоне (0, 10000)

In [15]:
n = int(input())
if 0 < n < 10:
    print("однозначное")
elif 10 <= n < 100:
    print("двузначное")
elif 100 <= n < 1000:
    print("трезначное")
else:
    print("четырехзнаное")

10
двузначное

Важно соблюдать отступы в соотвествующих блоках!

#### Задание: 
* Написать программу, которая определяет наибольшее из двух чисел и выводит его. Числа считать с клавиатуры

### while

Цикл while - это цикл с предусловием. 

        while <логическое условие>:
            набор действий
        
Цикл выполняется, пока условие истинно.

Например, выведем все целые числа от 5 до 1

In [1]:
a = 5
while a > 0:
    print(a, end=' ')
    a -= 1

5 4 3 2 1

или вывести все четные числа от 5 до 55

In [3]:
a = 5
while a <= 55:
    print(a, end=' ')
    a += 2

5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55

И еще несколько примеров:

In [4]:
#Вывести сумму целых чисел от a до b:
a = int(input())
b = int(input())
s = 0
i = a
while i <= b:
    s += i
    i += 1
print(s)

2
56
1595

In [6]:
#вывести произведение n пар чисел:
i = 0
n = int(input())
while i < n:
    a, b = input().split()  # split() разбивает строку на части по пробелам
    a = int(a)
    b = int(b)
    print(a * b)
    i += 1

3
1 2
2
5 3
15
2 5
10

### операторы break и continue

Оператор break досрочно завершает цикл.     
Оператор continue переходит к следующей итерации цикла, пропуская текующую.   
Например:

In [8]:
#Считаем и выводим сумму трех пар чисел. Если встречаются два нулевых числа, входим из цикла
i = 0
while i < 3:
    a, b = input().split()
    a = int(a)
    b = int(b)
    if (a == 0) and (b == 0):
        break # досрочно завершаем цикл
    print(a * b)
    i += 1

2 3
6
0 0

In [9]:
#Или
#Если встречается пара с одним нулевым числом - игнорируем ее. Если два нуля - так же выходим из цикла
i = 0
while i < 5:
    a, b = input().split()
    a = int(a)
    b = int(b)
    if (a == 0) and (b == 0):
        break # досрочно завершаем цикл
    if (a == 0) or (b == 0):
        continue # переходим к следующей итерации
    print(a * b)
    i += 1

1 2
2
1 0
2 5
10
0 0

In [13]:
#Задача: проверить, простое число или составное
n = int(input())
i = 2
while i * i <= n:
    if n % i == 0:
        print('Составное число')
        break
    i += 1
else:  
    print('Простое число')  # будет выполняться, если не произошло выхода из цикла по break

7
Простое число

### for

Классическая структура цикла for:   
    
    for element in iterator :
        действия

Цикл for зачастую используется с фукнцией range(start = 0, to, step = 1).     
Она возвращает последовательность чисел от "start" - нижней границы (включая) до "to" - верхней границы (не включая) с заданным шагом - step.    
Например:   
Посчитаем и выведем сумму всех четных чисел от a до b, включая границы.

In [14]:
#1ый способ
a, b = input().split()
a = int(a)
b = int(b)
s = 0
for i in range(a, b + 1):
    if i % 2 == 1:
        s += i
print(s)

1 2
1

In [15]:
#2oй способ
a, b = input().split()
a = int(a)
b = int(b)
s = 0
if a % 2 == 0:
    a += 1
for i in range(a, b + 1, 2):
    s += i
print(s)

1 5
9

In [16]:
#3ий способ (Используем list comprehension)
a, b = (int(i) for i in input().split())
s = 0
if a % 2 == 0:
    a += 1
for i in range(a, b + 1, 2):
    s += i
print(s)

1 2
1

#### Задание:    
Напишите программу, которая считывает с клавиатуры два числа a и b, считает и выводит на консоль среднее арифметическое всех чисел из отрезка [a;b], которые делятся на 3.

Например, пусть среднее арифметическое считается для чисел на отрезке [−5;12]. Всего чисел, делящихся на 3, на этом отрезке 6: −3,0,3,6,9,12. Их среднее арифметическое равно 4.5

## Строки и списки

### Строки

Строки являются неизменяемым типом данных.    
Очевидно, в строках можно обращаться к отдельным элементам (символам) по индексам (индексация начинается с нуля!).

In [17]:
string = 'abcdef'
print(string[0] + string[-1])

af

In [21]:
#Выведем буквы английского алфавита через одну 
alphabet = "abcdefjhijklmnopqrstuvwxyz"
for i in range(0,len(alphabet),2):
    print(alphabet[i])

a
c
e
j
i
k
m
o
q
s
u
w
y

In [28]:
#или в обратном порядке
for i in range(len(alphabet)-1, -1, -1):
    print(alphabet[i])

z
y
x
w
v
u
t
s
r
q
p
o
n
m
l
k
j
i
h
j
f
e
d
c
b
a

### Методы строк

In [29]:
s = 'Artificial Intelligence'
p = 'i'

In [30]:
s.upper()

'ARTIFICIAL INTELLIGENCE'

In [31]:
s.lower()

'artificial intelligence'

In [32]:
s.count(p)

5

In [33]:
s.find(p)

3

In [35]:
s.find('Machine')

-1

In [36]:
s.replace('i', '*')

'art*f*c*al *ntell*gence'

In [37]:
#Последовательный вызов методов
s.upper().count("e".upper())

3

### Срезы

In [38]:
line = "Machine Learning"

In [39]:
line[3]

'h'

In [41]:
line[2:7]

'chine'

In [42]:
line[:7]

'Machine'

In [45]:
line[-8:]

'Learning'

In [47]:
line[1:-1]

'achine Learnin'

In [48]:
line[1:-1:2]

'ahn eri'

In [49]:
line[::-1]

'gninraeL enihcaM'

#### Задачи:
1. Проверить, является ли число полиндромом. А если слово?
2. "Сжать" строку. А именно, получая на вход строку, преобразовать ее, "сжав" повторяющиеся символы. Например: "aaaabbcccaa" преобразуется в "a4b2c3a2"

### Списки

Вообще, списки - это один из типов массивов в питоне. Поэтому остановимся немного на массивах.    
Рассмотрим 3 вида массивов:
* изменяемые (списки) - list()
* не изменяемые (кортежи) -  tuple()
* неупорядоченные без повторений (множества) - set()

In [54]:
L = [1, 2, 3, 4, 1, 3, 5]
print(type(L), L)

<class 'list'> [1, 2, 3, 4, 1, 3, 5]

In [56]:
L = tuple(L)
print(type(L), L)

<class 'tuple'> (1, 2, 3, 4, 1, 3, 5)

In [57]:
L = set(L)
print(type(L), L) #удобно использовать для удаления дубликатов

<class 'set'> {1, 2, 3, 4, 5}

Для массивов, как и для строк, используется метод split(), разделяющий строку на подстроки и выводящий список этих подстрок.   
Наряду с методом split() часто используется метод join(). Он позволяет склеить список обратно в строку с указанием разделителя.

In [63]:
st = "Some text. A little bit more text"
print(st.split())
print(st.split("e"))

['Some', 'text.', 'A', 'little', 'bit', 'more', 'text']
['Som', ' t', 'xt. A littl', ' bit mor', ' t', 'xt']

In [68]:
some_list = ["Ivan", "Petr", "Alexey"]
" & ".join(some_list)

'Ivan & Petr & Alexey'

Напомним про плезную функцию map(), которая позволяет применить какую-то операцию ко всем элементам списка.

#### Задачи:
* Считайте 2 строки. Каждая строка содержит по 3 натуральных числа. Найдите сумму чисел в каждой строке и выведите на печать одной строкой. В качестве разделителя между двумя получившимися числами используйте символ "#"
* На вход подаётся 1 строка, слова в которой разделены символом "&".Необходимо вывести все слова из строки (без дубликатов) с пробелом в качестве разделителя.
* На вход подаётся строка, слова в которой разделены между собой пробелами. Напечатайте 2, 3 и предпоследнее слова из строки (через пробел).
* На вход подаётся 1 строка, слова в которой разделены пробелами. Напечатайте слова из этой строки в обратном порядке, используя в качестве разделителя "-$-"

### Методы списков 
* **list.append(x)** Добавляет элемент в конец списка
* **list.extend(L)** Расширяет список list, добавляя в конец все элементы списка L
* **list.insert(i, x)** Вставляет на i-ый элемент значение x
* **list.remove(x)** Удаляет первый элемент в списке, имеющий значение x. ValueError, если такого элемента не существует
* **list.pop([i])** Удаляет i-ый элемент и возвращает его. Если индекс не указан, удаляется последний элемент
* **list.index(x, [start [, end]])** Возвращает положение первого элемента со значением x (при этом поиск ведется от start до end)
* **list.count(x)** Возвращает количество элементов со значением x
* **list.sort([key=функция])** Сортирует список на основе функции
* **list.reverse()** Разворачивает список
* **list.copy()** Поверхностная копия списка
* **list.clear()** Очищает список

**Задача**: На вход подаётся 1 строка, слова в которой разделены пробелами. Напечатайте через пробел число слов в строке и число слов "one" в строке.

### Пределы функций

#### Задачи
1. Реализуйте функцию *f(x)= (exp(x) - 1)/x*. Найдите ее предел при х→0 *limf(x)*
2. Реализуйте функцию f(x): *f(x)=2arctg(x)*. Найдите предел функции (ответ округлите до 3 знака после запятой) при x→+∞ *lim 2arctg(x)*
3. Проверьте (для нескольких разных точек), что производная от ex совпадает с исходной функцией, т.е. (ex)′=ex. Для этого реализуйте функцию def_e(x), находящую численное значение производной (с точностью до 3 знака) в точке x.
4. Напишите функцию even_indeces(l), которая будет возвращать только элементы с чётными индексами.
5. Напишите функцию even_elements(l), которая возвращает только чётные элементы списка.
6. Напишите функцию last_to_first(l), которая вернёт список в обратном порядке.
7. Напишите функцию common(list_a, list_b), возвращающую список общих элементов 2 списков (порядок не важен).
8. Напишите функцию front_x(words), которая на вход принимает список строк и сортирует его по правилам:
    * слова, начинающиеся с символа "x", идут первыми
    * в лексикографическом порядке.     
Важно! Список может содержать пустые строки - "" - их нельзя выкидывать и при их обработке функция не должна "падать". Пример для проверки: ['mix', 'extra', '', 'x-files', 'xyz', 'xapple', 'apple']
9. Напишите функцию fib(n), возвращающую n-е число Фибоначчи.
10. Напишите функцию factorial(n), вычисляющую факториал числа (dfactorial(n) - двойной факториал числа)
10. Число называется простым, если оно делится только на 1 и само себя. Напишите функцию is_prime(n), проверяющую простое ли число. Учтите, что число может быть очень большое.
11. Напишите функцию, принимающую на вход строку, находящую 1й символ и заменяющую все его вхождения в строку кроме 1 на ' * '
12. Напишите функцию, которая принимает на вход строку, а возвращает 2 первых и 2 последних символа. Если длина исходной строки меньше 2 символов, необходимо вернуть пустую строку.